/backend/vendor
.idea
Homestead.json
Homestead.yaml
backend/.env
.phpunit.result.cache
/docker/nginx/logs/
*.sqlite
*.log
backend/.reports/
docker/run-kanboard.sh
node_modules/
.nuxt/
api-docs.json
volumes